:root {
    --background-color: #f4f4f4;
    --text-color: #000;
    --card-background-color: #fff;
    --card-border-color: #ccc;
    --title-bar-background-color: #4c70af;
    --footer-background-color: #4c70af;
    --table-border-color: #000;
    --table-header-background-color: #f2f2f2;
    --table-row-odd-background-color: #f9f9f9;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #fff;
    --card-background-color: #1e1e1e;
    --card-border-color: #333;
    --title-bar-background-color: #333;
    --footer-background-color: #333;
    --table-border-color: #4b4b4b;
    --table-header-background-color: #333;
    --table-row-odd-background-color: #2a2a2a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-mode .duck-outline {
    filter: invert(1);
}

body.dark-mode .goose-outline {
    filter: invert(1);
}

body.dark-mode a:hover {
    color: #5d5d5d;
}

body.dark-mode #searchInput {
    background-color: #333;
    color: #fff;
}

body.dark-mode #toggleFilterButton img,
body.dark-mode #resetButton img {
    filter: invert(1);
}

body.dark-mode #toggleFilterButton,
body.dark-mode #resetButton {
    background-color: #333;
}

body.dark-mode #minDuckInput,
body.dark-mode #maxDuckInput {
    background-color: #333;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid var(--table-border-color);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--table-header-background-color);
}

tbody tr:nth-child(odd) {
    background-color: var(--table-row-odd-background-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: var(--card-background-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    border: 1px solid var(--card-border-color);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin-top: 0;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.falling-duck {
    position: fixed;
    top: -50px;
    width: 50px;
    height: 50px;
    animation: fall 3s linear;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.footer {
    background-color: var(--footer-background-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    border-top: 2px solid #e0e0e0;
    width: 100%;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: var(--card-border-color);
}

.popup-card {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: var(--card-background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.switch {
    margin-left: auto;
}

.title-bar {
    background-color: var(--title-bar-background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #e0e0e0;
}

.title-bar img {
    height: 40px;
    margin-right: 10px;
}

.title-text {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin-left: 10px;
}

.title-bar .switch {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.title-bar .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.title-bar .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.title-bar .slider:before {
    position: absolute;
    content: "☀️";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: var(--title-bar-background-color);
    transition: .4s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.title-bar input:checked + .slider:before {
    transform: translateX(26px);
    content: "🌙";
}

.title-bar input:checked + .slider {
    background-color: #121212;
}

#filterContainer {
    display: none;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

#filterContainer label {
    margin-right: 5px;
}

#minDuckInput, #maxDuckInput {
    padding: 10px;
    border: 1px solid var(--card-border-color);
    background-color: var(--card-background-color);
    color: var(--text-color);
    width: 100px;
    box-sizing: border-box;
}

#searchInput {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--card-border-color);
    height: 20px;
}

#toggleFilterButton {
    margin-left: 10px;
}

#toggleFilterButton, #resetButton {
    padding: 10px;
    border: 1px solid var(--card-border-color);
    background-color: var(--card-background-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggleFilterButton img, #resetButton img {
    width: 20px;
    height: 20px;
}
